app/services/weights/*

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Flask / Python Environment Variables
.env
.env.local
*.ini
*.cfg

# Data Files
sam_vit_b_01ec64.pth
data

# Pytest / Unittest
.coverage
htmlcov/
*.cover
.pytest_cache/
nosetests.xml
test-reports/

# VS Code / JetBrains / Editor-Specific Files
.vscode/
.idea/
*.iml

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Docker / Deployment
docker-compose.override.yml
*.dockerfile
*.dockerenv

# Logs & Debugging Files
logs/
*.log
debug.log
